{
  "openapi": "3.0.0",
  "info": {
    "title": "Storefront Cloud API",
    "description": "These APIs provide services for manipulating Storefront Cloud project.",
    "version": "0.1 Beta"
  },
  "servers": [
    {
      "url": "https://farmer.storefrontcloud.io",
      "description": "Production"
    }
  ],
  "paths": {
    "/deploy_check/{project}/{tag}": {
      "get": {
        "summary": "Check if tag is deployed",
        "description": "Using this endpoint you can check if sepecifed tag is deployed and ready",
        "tags": [
          "deploy_check"
        ],
        "parameters": [
          {
            "name": "project",
            "in": "path",
            "required": true,
            "description": "Project name",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tag",
            "in": "path",
            "required": true,
            "description": "Docker tag",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/deploy_check_response"
                }
              }
            }
          }
        }
      }
    },
    "/flush_cache/{project}": {
      "delete": {
        "summary": "Flush cache for instance",
        "description": "Using this endpoint you can flush cache for your instance",
        "tags": [
          "flush_cache"
        ],
        "parameters": [
          {
            "name": "project",
            "in": "path",
            "required": true,
            "description": "Project name",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/flush_cache_response"
                }
              }
            }
          }
        }
      }
    },
    "/instances": {
      "post": {
        "summary": "Flush cache for instance",
        "description": "Using this endpoint you can flush cache for your instance",
        "tags": [
          "instances"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/flush_cache_response"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BasicAuth": {
        "type": "http",
        "scheme": "basic"
      }
    },
    "schemas": {
      "deploy_check_response": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer"
          },
          "ready": {
            "type": "string"
          },
          "deployed": {
            "type": "string"
          }
        }
      },
      "flush_cache_response": {
        "type": "object",
        "properties": {
          "code": {
            "type": "integer"
          },
          "result": {
            "type": "string"
          }
        }
      }
    }
  }
}
